body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    background-color: #dc3545;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    border-bottom: 3px solid #fff;
    color: white;
}

.row1 {
    padding: 50px;
}

.card-img-top {
    height: 250px;
}

.card-title {
    font-weight: bolder;
}
