body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    background-color: #ff4c68;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .nav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

  .nav a:hover {
    border-bottom: 3px solid rgb(0, 0, 0);
    color: black;
  }
  
  .nav a.active {
    border-bottom: 3px solid whitesmoke;
  }


.row1 {
    padding: 50px;
}

.card-img-top {
    height: 250px;
}

.card-title {
    font-weight: bolder;
}

/* changed */
.banner{
  text-align: center;
  margin-top: 30px;
}

.btn{
  color: #ff4c68;
}

.icons{
  width: 100%;
  background-color: #ff4c68;
  height: 100px;
  text-align: center;
  padding-top: 30px;
}
.icons i{
  color: whitesmoke;
  padding: 0 25px;
}
.foot{
  text-align: center;
  color: #ff4c68;
  padding-top:10px ;
 
}
